html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, frameset, table, th, tr, td, fieldset {
  margin: 0;
  padding: 0;
}

/* IE5.xIE6бbug */
* html body {
  overflow: visible;
}

/* body */
body {
  color: #efefef;
  font: 12px/22px "宋体";
  overflow-x: auto;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
}

i, em, cite {
  font-style: normal;
}

/* a */
a, a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
}

a:active, a:hover {
  text-decoration: none;
  color: #5f5b5a;
}

a:focus {
  outline: none;
}

/* form */
textarea, input {
  word-wrap: break-word;
  word-break: break-all;
}

input {
  vertical-align: middle;
  font-size: 12px
}

.button {
  vertical-align: middle;
  font-size: 12px
}

.button {
  cursor: pointer;
}

/* li */
ul, li {
  list-style-type: none;
}

/* img */
img {
  border: 0 none;
  vertical-align: middle;
}

/* h* */
h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}
