.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: white;

    .title {
        color: #333333;
        font-size: 16px;
    }

    .container-data {
        flex-direction: column;
        background: #e8eaec;

        .poi-data-dynamic-container {
            display: flex;
            background: white;
            border-radius: 8px;
            padding: 40px 40px 32px;
            flex-direction: column;

            .poi-data-dynamic {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                .ant-input {
                    border: 1px solid #cfd3da !important;
                }
            }
        }

        .poi-count-container {
            margin-top: 20px;
            background: white;
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            padding: 40px 40px 32px;

            .poi-count-title {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .poi-count-title-menu {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex: 1;
                    justify-content: flex-end;

                    .poi-count-title-menu-item-range {
                        margin-left: 30px;
                        font-size: 14px;
                    }

                    .poi-count-title-menu-item {
                        @extend .poi-count-title-menu-item-range;
                        cursor: pointer;
                        user-select: none;
                    }
                }
            }

            .poi-count {
                margin-top: 30px;
                background: white;
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }

        .poi-word-cloud-category {
            margin-top: 20px;
            width: 100%;
            background: white;
            display: flex;
            flex-direction: row;
            border-radius: 8px;
            padding: 40px 40px 32px;

            .poi-word-cloud-container {
                flex: 1;
                display: flex;
                flex-direction: column;

                .poi-word-cloud {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    background: white;
                }
            }

            .poi-category-container {
                margin-left: 30px;
                flex: 1;
                display: flex;
                flex-direction: column;

                .poi-category {
                    margin-top: 30px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    background: white;
                }
            }
        }

        .poi-language-container {
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            background: white;
            border-radius: 8px;
            padding: 40px 40px 32px;

            .poi-language-tabs {
                margin-top: 30px;

                .poi-language {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    background: white;
                }
            }
        }
    }

    .container-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 218px;

        .empty-text {
            font-size: 20px;
            color: #102247;
            letter-spacing: 0;
            text-align: center;
            line-height: 28px;
            margin-top: 20px;
        }
    }
}
