<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.template.module.rn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".ReactActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/CXAppTheme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.facebook.react.devsupport.DevSettingsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/CXAppTheme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>
