.basic_base_font {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

.basic_base_font_important {
    font-family: var(--font-family) !important;
    font-weight: var(--font-weight) !important;
}

.basic_base_font_bold {
    font-family: var(--font-family-bold);
    font-weight: var(--font-weight-bold);
}

.basic_base_font_bold_important {
    font-family: var(--font-family-bold) !important;
    font-weight: var(--font-weight-bold) !important;
}
