<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xixi.fruitshop.android.module.home">

    <application android:icon="@drawable/home_icon">
        <activity
            android:name=".tab.HomeTabActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/FSAppTheme.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
