<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smart.template">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 读写 SDCard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 定位 -->
    <!--<uses-permission android:name="android.permission.LOCATION_HARDWARE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <application
        android:name="com.smart.template.FinalApplication"
        android:allowBackup="true"
        android:allowTaskReparenting="false"
        android:fullBackupContent="@xml/final_backup_descriptor"
        android:icon="@mipmap/final_launcher"
        android:label="@string/final_app_name"
        android:networkSecurityConfig="@xml/final_network_security_config"
        android:supportsRtl="false"
        android:theme="@style/STAppTheme.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:label,android:allowBackup,android:supportsRtl">

        <activity
            android:name="com.smart.template.home.tab.FinalHomeTabActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:theme="@style/STAppTheme.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.smart.template.FinalSplashActivity"
            android:configChanges="locale|fontScale|orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="standard"
            android:theme="@style/FinalLaunchTheme2"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <!-- 隐式Intent启动的activity，需要都要加上DEFAULT才可以匹配，如果category加了LAUNCHER则可选 -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- 浏览器在特定情况下可以打开这个页面 -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="template"
                    android:scheme="smart" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.smart.template.home.test.FinalBehaviorBottomSheetActivity"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:theme="@style/STAppTheme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.smart.template.home.test.FinalBehaviorBottomSheetV2Activity"
            android:configChanges="orientation"
            android:launchMode="standard"
            android:theme="@style/STAppTheme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="DEBUG"
            android:value="${DEBUG}" />
        <meta-data
            android:name="VERSION_RN"
            android:value="${VERSION_RN}" />
    </application>

</manifest>
