@charset "UTF-8";
/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input { margin: 0; padding: 0; border: 0; font-size: 100%; font-weight: normal; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

body { line-height: 1; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* custom */
a { color: #7e8c8d; text-decoration: none; -webkit-backface-visibility: hidden; }

li { list-style: none; }

::-webkit-scrollbar { width: 5px; height: 5px; }

::-webkit-scrollbar-track-piece { background-color: rgba(0, 0, 0, 0.2); -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical { height: 5px; background-color: rgba(125, 125, 125, 0.7); -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:horizontal { width: 5px; background-color: rgba(125, 125, 125, 0.7); -webkit-border-radius: 6px; }

html, body { width: 100%; }

body { -webkit-text-size-adjust: none; -webkit-tap-highlight-color: transparent; }

/* Created by Edward 23/6/2017 */
.share { position: fixed; right: 1rem; bottom: 17.4rem; z-index: 1000; width: 5.1rem; height: 5.1rem; background: transparent url(../images/common/share.png) center center no-repeat; -webkit-background-size: contain; background-size: contain; }

.share.active { display: block; }

.backtop { position: fixed; right: 1rem; bottom: 8.4rem; width: 5.2rem; height: 5.2rem; background: transparent url(../images/common/backtop.png) center center no-repeat; -webkit-background-size: contain; background-size: contain; }

.backtop.active { display: block; }

.download { position: fixed; left: 0; bottom: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 100%; height: 5.2rem; padding: 0 0.5rem; background: #000; }

.download li:nth-of-type(1) { -webkit-box-flex: 1; -webkit-flex: 1 0 0; -ms-flex: 1 0 0px; flex: 1 0 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #fff; font-size: 1.5rem; line-height: 20px; text-align: left; }

.download li:nth-of-type(1) img { width: 3.6rem; height: 3.6rem; margin-right: 2px; }

.download li:nth-of-type(2) { -webkit-box-flex: 0; -webkit-flex: 0 0 7.6rem; -ms-flex: 0 0 7.6rem; flex: 0 0 7.6rem; width: 7.6rem; height: 3.2rem; -webkit-border-radius: 4px; border-radius: 4px; background: #0084ff; font-size: 1.3rem; line-height: 3.2rem; text-align: center; }

.download li:nth-of-type(2) a { display: block; width: 100%; height: 100%; color: #fff; }

[v-cloak] { display: none; }

html { height: 100%; word-wrap: break-word; word-break: break-all; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; }

body { position: static; overflow-y: auto; height: 100%; font-family: Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, sans-self; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background: #fff; }

img { max-width: 100%; height: auto; }

.gray { color: #999999; }

.dark { color: #000; }

.white { color: #fff; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.display-none { display: none; }

.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: center; }

.overflow-scroll { overflow-y: auto; -webkit-overflow-scrolling: touch; }
