<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ossrs.yasea">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name="com.smart.library.livestreaming.push.STVideoPushActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user"
            android:theme="@style/STAppTheme.ActionBar" />

        <activity
            android:name="net.yrom.screenrecorder.ui.activity.ScreenRecordActivity"
            android:label="@string/app_name" />

        <service
            android:name="net.yrom.screenrecorder.service.ScreenRecordListenerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name="net.yrom.screenrecorder.ui.activity.ScreenRecorderLaunchActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="net.yrom.screenrecorder.ui.activity.CameraActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>
</manifest>
