.category-poi-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .category-poi {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 340px;
        scroll-behavior: smooth;
        height: 340px;

        //noinspection CssUnknownProperty
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none !important;
            width: 0 !important;
        }
    }
}

//noinspection SpellCheckingInspection
.anticon svg {
    transition: transform 0.3s ease;
}
