@import "../base/styles/common";

$font-size: 20px;
.root {
    margin: 0 auto; // 整个布局居中
    background-color: ghostwhite;
    font-size: $font-size;
    line-height: 50px;
    color: #222222;

    .content {
        margin: 0 auto;
        width: $pageWidth;
        overflow: hidden;
        height: 100%;
        background: white;

        .contentLeft {
            float: left;
            width: 300px;
            height: 720px;
        }

        .contentRight {
            width: $pageWidth - 300px;
            margin-left: 300px;
            background: ghostwhite;
            min-height: 720px;
            height: 100%;
        }
    }
}
