@import "components/library_business/styles/base";

.page {
    background-color: cadetblue;
}

.title {
    width: 100%;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    background-color: rebeccapurple;
}


.banner {
    flex: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    background-color: cadetblue;
}


.content {
    padding: 10px;
    flex: 1;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    background-color: cadetblue;
}

.toastContainer {
    width: 100%;
    background-color: darkblue;
}
