<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../css/@@htmlName.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
</head>

<body>
<div id="myApp" class="wrapper">
    @@include('../modules/@@moduleName/html/@@htmlName.html')
</div>
</body>

<script type="text/javascript" src="https://s1.cximg.com/msweb02/resource/comm/js/jquery_1_8_3.min.js"></script>
<script type="text/javascript" src="../js/@@htmlName.js"></script>

</html>