<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.library.hybird">

    <application>
        <activity
            android:name=".HybirdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.Normal.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--<activity
            android:name=".HybirdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
    </application>
</manifest>
