.mobile-console__menu {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.mobile-console__menu_clear {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.mobile-console__holder {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 54px;
    max-height: 38.2%; /*黄金分割率*/
    overflow-x: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: monospace;
    font-size: 12px;
}

.mobile-console__log {
    color: darkgray;
}

.mobile-console__props {
    padding-left: 15px;
    display: none;
    clear: both;
}

.mobile-console__props.visible {
    display: block;
}

.mobile-console__node {
    position: relative;
}

.mobile-console__node.number {
    color: ghostwhite;
}

.mobile-console__node.string {
    color: lightseagreen;
}

/*undefined*/
.mobile-console__node.null {
    margin-left: 8px;
    color: red;
}

.mobile-console__log:before {
    display: inline-block;
    position: relative;
    margin: 2px 4px 0 9px;
    border: solid transparent;
    float: left;
}

.mobile-console__log.inspect:before {
    content: '';
    border-width: 4px 0 4px 8px;
    border-left-color: darkgray;
}

.mobile-console__log.opened:before {
    content: '';
    border-width: 8px 4px 0 4px;
    border-top-color: orangered;
}

.mobile-console__top {
    white-space: nowrap;
}

.mobile-console__enumerable-key {
    margin-right: 10px;
    color: #881391;
}

.mobile-console__not-enumerable-key {
    color: #b771bd;
    margin-right: 10px;
}
