<div class="backtop" v-if="basicInfo.showBackTopFlag" @click="backTop"></div>
<div class="share" v-if="basicInfo.showShareFlag" @click="share"></div>
<ul class="download" v-if="basicInfo.showDownloadFlag">
    <li>
        <img src="../../static/images/common/share.png"/>
        <template v-if="basicInfo.showDownloadFlag && basicInfo.showDownloadTpl">
            <div v-html="basicInfo.showDownloadTpl"></div>
        </template>
        <template v-if="!basicInfo.showDownloadTpl">
            <div>
                <p>下载车template</p>
            </div>
        </template>
    </li>
    <li v-if="basicInfo.linkTpl" v-html="basicInfo.linkTpl"></li>
    <li v-if="!basicInfo.linkTpl">
        <a href="" ca="template" id="hrefHost">
            立即下载
        </a>
    </li>
</ul>
