$root_width: 1000px;

// header
$header_padding_top: 30px;
$header_height: 560px - $header_padding_top;

$header_height_banner: 500px;

// content
$content_height: 780px;
$input_margin_top: 384px;
$input_margin_between: 25px;
$input_container_width: 538px;
$input_container_height: 310px;
$input_width: 536px;
$input_height_submit: 80px;

$input_height: 84px;

$input_font_size: 23px;
$input_font_size_verify: 20px;
$input_font_size_submit: 24px;

$card_root_margin_top: 44px;
$card_root_margin_left: 5px;
$card_item_margin_left: 33px;
$card_root_width: $root_width - $card_root_margin_left * 2;
$card_root_height: 270px;
$card_item_width: ($card_root_width - ($card_item_margin_left * 2)) /3.0;
$card_circle_width: 54px;
$card_circle_x_offset: 5px; //偏移量

$card_circle_left_x: $card_item_width + $card_item_margin_left / 2.0 - $card_circle_width /2.0 -$card_circle_x_offset;
$card_circle_right_x: $card_circle_left_x + $card_item_width + $card_item_margin_left;
$card_circle_y: $card_root_height / 2.0;

// footer
$footer_height: 900px;
$footer_font_size: 19px;
$footer_font_size_title: 29px;

// dialog

//==================================================================================
//==================================================================================

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: auto;
  width: 100%;
  background: #efefef;

  .rp-container {
    min-width: $root_width;
    width: 100%;

    .rp-header {
      padding-top: $header_padding_top;
      width: 100%;
      height: $header_height;
      background: #000033 center no-repeat;
      background-size: cover;

      .rp-banner {
        width: $root_width;
        height: $header_height_banner;
        margin: 0 auto; // margin: 0 auto; === 居中
        background: lightcoral;
        background-size: $root_width $header_height_banner;
      }
    }

    .rp-content {
      position: relative;
      width: 100%;
      height: auto;
      min-height: $content_height;
      background: #fff8e3;

      //.rp-content-top-bg {
      //  width: 100%;
      //  height: 324px;
      //  background: #fff8e3;
      //}

      .rp-content-bottom-bg {
        width: 100%;
        height: 310px;
        padding-top: $input_margin_top; //todo 为什么不能在子布局使用margin-top

        .rp-content-bottom-form {
          margin: 0 auto;
          width: $input_container_width;
          height: $input_container_height;

          input {
            border: none;
            padding: 0;
            margin: 0;
            outline: none;
            background: transparent;
          }

          input:focus {
            outline: none;
            background-color: transparent;
          }

          /*input::selection {
            background: transparent;
          }*/

          input::-moz-selection {
            background: transparent;
          }

          input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset;
            -webkit-text-fill-color: #333;
          }

          input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #333333;
          }

          input:-moz-placeholder, textarea:-moz-placeholder {
            color: #333333;
          }

          input::-moz-placeholder, textarea::-moz-placeholder {
            color: #333333;
          }

          input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            color: #333333;
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
          }

          .rp-content-bottom-form-input-phone {
            width: 100%;
            height: $input_height;
            background: #ffffff;
            border: 2px solid #dddddd;
            border-bottom: 4px solid #fc4748;
            border-radius: 4px;

            #img-phone {
              width: 22px;
              height: 34px;
              float: left;
              margin-left: 23px;
              margin-right: 23px;
              margin-top: 26px;
              background: white url(../img/rp-phone.png) center no-repeat;
              background-size: 22px 34px;
            }

            #input-phone {
              font-size: $input_font_size;
              height: $input_height;
              line-height: $input_height;
              color: #333333;
              float: left;
              width: 400px;
            }
          }

          .rp-content-bottom-form-input-verify {
            width: 100%;
            height: $input_height;
            background: #ffffff;
            margin-top: $input_margin_between;
            border: 2px solid #dddddd;
            border-bottom: 4px solid #fc4748;
            border-radius: 4px;

            #img-verify {
              width: 31px;
              height: 34px;
              float: left;
              margin-left: 18px;
              margin-right: 18px;
              margin-top: 23px;
              background: white url(../img/rp-verify.png) center no-repeat;
              background-size: 31px 34px;
            }

            #input-verify {
              font-size: $input_font_size;
              color: #333333;
              height: $input_height;
              line-height: $input_height;
              float: left;
              width: 150px;
            }

            #input-verify-btn {
              width: auto;
              float: right;
              height: $input_height;
              line-height: $input_height;
              text-align: center;
              background: transparent;
              padding-right: 25px;
              padding-left: 25px;
              font-size: $input_font_size_verify;
              color: #fc4748;
            }

            #input-verify-btn:focus {
              outline: none;
              background-color: transparent;
            }
            #input-verify-btn::selection {
              background: transparent;
            }
            #input-verify-btn::-moz-selection {
              background: transparent;
            }
          }

          .rp-content-bottom-form-submit {
            width: 100%;
            height: $input_height_submit;
            margin-top: $input_margin_between;
            border: none;
            background: #fc4748;
            color: #ffffff;
            font-size: $input_font_size_submit;
            overflow: hidden;
          }
        }
      }

      .rp-content-top {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: $card_root_margin_top;
        width: $card_root_width;
        height: $card_root_height;

        .rp-content-top-item-left {
          float: left;
          width: $card_item_width;
          height: 100%;
          background: url(../img/rp-card-left.png) center top no-repeat;
          background-size: $card_item_width 100%;
        }

        .rp-content-top-item-center {
          float: left;
          margin-left: $card_item_margin_left;
          width: $card_item_width;
          height: 100%;
          background: url(../img/rp-card-center.png) center top no-repeat;
          background-size: $card_item_width 100%;
        }

        .rp-content-top-item-right {
          float: left;
          margin-left: $card_item_margin_left;
          width: $card_item_width;
          height: 100%;
          background: url(../img/rp-card-right.png) center top no-repeat;
          background-size: $card_item_width 100%;
        }

        .rp-content-top-item-add-left {
          position: absolute;
          width: 60px;
          height: 60px;
          background: url(../img/rp-btn-add.png) center top no-repeat;
          background-size: 60px 60px;
          top: $card_circle_y;
          left: $card_circle_left_x;
          right: 0;
          border-radius: 60px;
        }
        .rp-content-top-item-add-right {
          position: absolute;
          width: 60px;
          height: 60px;
          background: url(../img/rp-btn-add.png) center top no-repeat;
          background-size: 60px 60px;
          top: $card_circle_y;
          border-radius: 60px;
          left: $card_circle_right_x;
          right: 0;
        }
      }
    }

    .rp-rule {
      width: 100%;
      background: #e8e6e7;
      height: auto;
      text-align: left;

      .rp-rule-desc {
        width: $root_width - 140px;
        height: auto;
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 150px;

        h5 {
          margin: 0 0 20px 0;
          padding: 0;
          font-size: $footer_font_size_title;
          color: #717171;
        }

        ol {
          counter-reset: none;
        }
        li {
          font-size: $footer_font_size;
          color: #717171;
          line-height: 46px;
        }
      }
    }
  }

  //======================================================================================================================
  //  dialog
  //======================================================================================================================

  // 蒙版
  .mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #454545;
    opacity: 0.8;
    z-index: 100;
  }

  // 弹框
  .dialog {
    display: none;
    * {
      margin: 0;
      padding: 0;
    }

    // 水平居中
    .center-horizontal {
      margin: 0 auto;
    }

    // 内容
    .container {
      position: absolute;
      width: 808px;
      top: 293px;
      left: 0;
      right: 0;
      z-index: 100;

      // 关闭按钮
      .close {
        width: 30px;
        height: 30px;
        margin: 10px;
        float: right;
      }

      // 边框
      .border {
        border-radius: 15px;
        background: white;
        border: 1px solid #9d9d9d;

        text-align: center;
        padding: 108px 0 70px 0;
      }

      // 关闭按钮
      .close {
        width: 30px;
        height: 30px;
        margin: 20px;
        float: right;
      }

      // 区块 1
      .section01 {
        // 圆形图片
        .circle-icon {
          float: left;
          margin-left: 243px;
          width: 80px;
          height: 80px;
        }

        .tip-container {
          //display: inline-block;
          float: left;
          margin: 0 10px;
          text-align: left;

          .status {
            font-size: 33px;
            color: #474747;
          }

          .tip {
            font-size: 26px;
            color: #9d9d9d;
          }
        }
      }

      // 区块 2
      .section02 {
        margin-top: 190px;

        .app-icon {
          width: 122px;
          height: 122px;
        }

        .tip {
          font-size: 26px;
          color: #777;
          line-height: 1.5;
          margin: 10px 0 40px 0;
        }

        // 下载
        .to-download {
          text-decoration: none;
          font-size: 30px;
          color: #fc4748;
          border: 2px solid currentColor;
          border-radius: 5px;
          padding: 5px 15px;
        }
      }
    }
  }

  // 弹框
  .dialog-success {
    display: none;
    * {
      margin: 0;
      padding: 0;
    }

    // 水平居中
    .center-horizontal {
      margin: 0 auto;
    }

    // 内容
    .container {
      position: absolute;
      width: 808px;
      top: 293px;
      left: 0;
      right: 0;
      z-index: 100;

      // 关闭按钮
      .close {
        width: 30px;
        height: 30px;
        margin: 20px;
        float: right;
      }

      // 边框
      .border {
        border-radius: 15px;
        background: white;
        border: 1px solid #9d9d9d;

        text-align: center;
        padding: 80px 0 45px 0;
      }

      // 关闭按钮
      .close {
        width: 35px;
        height: 35px;
        margin: 20px;
        float: right;
      }

      // 区块 1
      .section01 {
        width: 270px;
        margin: 0 auto;
        // 圆形图片
        .circle-icon {
          float: left;
          width: 80px;
          height: 80px;
        }

        .tip-container {
          float: left;
          padding-top: 20px;
          margin: 0 20px;

          .status {
            font-size: 35px;
            color: #474747;
          }
        }
      }

      // 区块 2
      .section02 {
        margin-top: 120px;

        .item-coupon {
          list-style: none;
          position: relative;
          margin: 10px;

          .top {
            position: absolute;
            width: 425px;
            top: 0;
            left: 180px;

            .price {
              float: left;
              font-size: 52px;
              color: #e85c5c;
              font-weight: bold;
              margin-top: 5px;
            }

            .price-tips {
              float: left;
              font-size: 25px;
              color: #e85c5c;
              margin-top: 31px;
              margin-left: 5px;
            }

            .price-tips2 {
              float: right;
              font-size: 21px;
              color: #9b9b9b;
              margin-top: 37px;
            }

          }

          .bottom {
            position: absolute;
            width: 580px;
            top: 75px;
            left: 200px;

            text-align: left;

            .tips {
              list-style-type: disc;
              font-size: 15px;
              color: #9b9b9b;

              .valid-date {
                display: inline-block;
              }
            }
          }
        }

        .to-order {
          display: block;
          height: 71px;
          width: 464px;
          margin: 45px auto 0 auto;
          background: url("../img/success-btn-order.png");
          background-size: 464px 71px;
        }
      }
    }
  }

  .js_show_type {
    //display: block;
  }

  .js_show_type_success {
    //display: none;
  }
}
