<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smart.library">

    <application>
        <activity
            android:name=".base.CXActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CXAppTheme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <!-- [notification] HomeTabActivity is the parent for CXDebugActivity -->
        <activity
            android:name=".widget.debug.CXDebugActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:parentActivityName="com.smart.template.tab.HomeTabActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/CXAppTheme.Translucent.Notification"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="UnusedAttribute" />
    </application>

</manifest>
