@function px2rem($px) {
    @return $px / (750.0/375.0*10.0) * 1.0rem;
}

img, a {
    display: block;
}

.container {
    background: #eeeeee;
    text-align: center;
    padding-top: px2rem(30);
    padding-bottom: px2rem(200);

    #title {

        color: black;
        font-weight: bold;
        font-size: px2rem(50);
    }
    #women {
        margin-top: px2rem(30);
        width: px2rem(750);
        height: px2rem(750);
    }
    #dog {
        width: px2rem(750);
        height: px2rem(750);
    }
}
