@function px2rem($px) {
    @return $px / (750.0/375.0*10.0) * 1.0rem;
}

img, a {
    display: block;
}

.container {
    background: #eeeeee;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: px2rem(30);

    #header {
        display: inline-block;
        #title {
            float: right;
            color: black;
            font-weight: bold;
            line-height: px2rem(50);
            font-size: px2rem(50);
        }
        #svg {
            height: px2rem(50);
            width: px2rem(50);
            float: left;
        }
    }

    #women {
        margin-top: px2rem(30);
        width: px2rem(750);
        height: px2rem(750);
    }
    #dog {
        width: px2rem(750);
        height: px2rem(750);
    }
    #linkContainer {
        background: #eeeeee;
        margin-top: px2rem(30);
        font-size: px2rem(30);
        color: black;

        a {
            background: #eeeeee;
            color: #000
        }
        a:hover {
            color: #000
        }

        #linkWomen {
            width: px2rem(375);
            height: px2rem(50);
            background: red;
            padding-top: px2rem(10);
            float: left;
        }
        #linkDog {
            width: px2rem(375);
            height: px2rem(50);
            padding-top: px2rem(10);
            background: orange;
            float: left;
        }
    }
}
