<script type="text/javascript">
    window._caProtocol = (("http:" === document.location.protocol) ? " http://" : " https://");
</script>
<script type="text/javascript" src="../../static/plugins/url.min.js"></script>
<script type="text/javascript" src="../../static/plugins/vue.min.js"></script>
<script type="text/javascript" src="../../static/plugins/vue-resource.min.js"></script>
<script type="text/javascript" src="../../static/plugins/sm/sm.min.js"></script>
<script type="text/javascript" src="../../static/scripts/common.js"></script>
<script type="text/javascript" src="../../static/scripts/@@moduleName/@@htmlName.js"></script>
