.DS_Store
.dart_tool/

.packages
.pub/

build/
example/.fvm/flutter_sdk

.symlinks/
Podfile.lock
pubspec.lock

Pods/
**/xcuserdata/**/UserInterfaceState.xcuserstate
.gradle/

*.iml
.gradle
**/local.properties
**/.idea/workspace.xml
**/.idea/libraries
**/build
**/captures
**/flutter_sdk