<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.library.flutter">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name="com.smart.library.flutter.STFlutterBoostActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:theme="@style/STAppTheme.Normal"
            android:windowSoftInputMode="adjustResize">
            <!-- This keeps the window background of the activity showing
                 until Flutter renders its first frame. It can be removed if
                 there is no splash screen (such as the default splash screen
                 defined in @style/LaunchTheme). -->
            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />

            <!-- Flutter 闪屏页 -->
            <!-- https://flutter.cn/docs/development/ui/splash-screen/android-splash-screen#showing-a-drawable-splash-screen -->
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/flutter_splash_screen_drawable" />
        </activity>

        <activity
            android:name="com.smart.library.flutter.test.MineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.Normal"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--<activity
            android:name=".STFlutterFragmentLaunchActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:theme="@style/STAppTheme.Launch"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            &lt;!&ndash; Flutter 启动页 &ndash;&gt;
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/STAppTheme.Launch" />
            &lt;!&ndash; This keeps the window background of the activity showing
             until Flutter renders its first frame. It can be removed if
             there is no splash screen (such as the default splash screen
             defined in @style/LaunchTheme). &ndash;&gt;
            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />

            &lt;!&ndash; Flutter 闪屏页 &ndash;&gt;
            &lt;!&ndash; https://flutter.cn/docs/development/ui/splash-screen/android-splash-screen#showing-a-drawable-splash-screen &ndash;&gt;
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/flutter_splash_screen_drawable" />
        </activity>-->

    </application>

</manifest>
