@import "components/library_business/styles/base";

.menu {
    min-width: $base-page-width;
    background-color: $base-background-color;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 60px;

    .menuTable {
        margin: 0 auto;
        width: $base-page-width;
        height: 60px;
        color: white;

        a {
            display: block;
        }

        .menuSelected {
            background-color: darkblue;

            a:link, a:visited, a:hover {
                color: white;
                font-weight: bold;
            }
        }

        .menuNormal {
            background-color: transparent;

            a:link, a:visited, a:hover {
                color: white;
                font-weight: bold;
            }
        }

        .menuNormal:hover {
            background-color: #00008b55;
        }
    }
}
