<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.template.module.hybird">

    <application>
        <activity
            android:name=".HybirdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CXAppTheme.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>
</manifest>
