*.swp
.gradle
.idea
*.iml
*.ipr
*.iws
*.rdb
.DS_Store
/logs
/target
/dist
/bower_components
/static/styles/
/view_temp/
/src/main/resources/generatorConfig.xml
/node_modules
/build/
package-lock.json
*.tgz
