@import "../components/library_business/styles/base";

.page {
    display: flex;
    background-color: #3e3a39;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.image_content {
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
