<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xixi.library.android">

    <application>
        <activity
            android:name=".base.CXActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/FSAppTheme.Translucent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>
