<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smart.template">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CXFinalApplication"
        android:allowBackup="true"
        android:allowTaskReparenting="false"
        android:fullBackupContent="@xml/cx_backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/cx_app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:taskAffinity="com.smart.template"
        android:theme="@style/CXAppTheme.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">

        <activity
            android:name="com.smart.template.tab.HomeTabActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CXAppTheme.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="DEBUG"
            android:value="${DEBUG}" />
    </application>

</manifest>
