.header-content {
    margin-right: 28px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    font-size: 16px;
    color: #102247;
    line-height: 22px;

    ul {
        text-align: right;
        display: flex;
        align-items: center;

        li {
            display: flex;
            text-align: center;
        }
    }
}
